.price {
    padding-top: 60px;
    &__wrapper {
        margin: 60px 50px 0 50px;
        display: grid;
        grid-template-columns: 370px 370px;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        position: relative;
        padding-left: 25px;
        @include before_circle_mini;
    }
    &__text {
        padding-left: 25px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin: 5px 0 15px 0;
    }
}