.promo {
    position: relative;
    min-height: 100vh;
    padding: 206px 0px 236px 0px;
    background: url(../img/main_bg.jpg) no-repeat 65%/cover;
    &__subtitle {
        color: white;
        @include before_circle;
        position: relative;
        padding-left: 10px;
        z-index: 2;
    }
    &__title {
        margin-top: 9px;
        color: white;
        margin-bottom: 0;
    }
    &__btns{
        margin-top: 25px;
        display: flex;
        justify-content: flex-start;
    }
    &__link {
        width: 135px;
        height: 45px;
        background: transparent;
        border: 1px solid $main-color;
        box-shadow: none;
        font-weight: bold;
        font-size: 14px;
        line-height: 45px;
        color: white;
        text-align: center;
        transition: 0.5s all;
        margin-right: 2px;
        &:hover{
            color: #000000;
            text-decoration: none;
            background: $main-color;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }
    &__social {
        position: absolute;
        top: 400px;
        left: -155px;
        display: flex;
        align-items: center;
        transform: rotate(-90deg);
        &__text{
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: white;
        }
        &__line{
            margin: 0 15px;
            width: 70px;
            height: 2px;
            background: white;
        }
        &__item{
            margin-right: 15px;
            img {
                width: 20px;
                height: 20px;
                }
            }
        }
    &__hamburger {
        position: absolute;
        top: 20px;
        right: 30px;
        width: 36px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-end;
        cursor: pointer;
        span {
            display: block;
            width: 30px;
            height: 3px;
            background: white;
            }
        span.long {
            width: 36px;
        }
        }
    }



